html
{
    scroll-behavior: smooth;
   
}
body
{
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Helvetica, sans-serif;
    margin-left: 35%;
    margin-right: 35%;
}

div a
{
    font-size: 1.5em;  
    text-decoration: none;
    color: rgb(192, 194, 173);
    background-color: black;
    border: 0.05em solid rgb(192, 194, 173);
    border-radius: 3%;
    padding: 1em 2em 1em 2em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 3em rgb(88, 88, 88) ;
    margin-top: 20px;
}

a{
    color: rgb(192, 194, 173);
    text-decoration: none;
    margin: 5px;
}

b
{
    color: rgb(192, 194, 173);
    font-size: 20px;
    margin: 5px;
}